@import url('https://fonts.cdnfonts.com/css/digital-numbers');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=IBM+Plex+Serif:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=IBM+Plex+Serif:ital,wght@1,500&family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */  
}